{% extends 'base.html' %}

{% block content %}

<img width="100%" alt="Render of drone scanning a building" crossorigin='anonymous' src="https://fireconsultancy-wordpress-assets.s3.eu-west-2.amazonaws.com/large/aerial-survey.webp"/>

<div class="mb-3 bg-danger">
  <div class="container p-5">
    <h1 class="display-7 text-white">Aerial Surveys</h1>
    <p class="fs-5 text-white">F.I.R.E. Consultancy are developing patent pending through-wall scanning technology that will allow us to conduct external wall inspections in a safe and non-destructive manner. We also offer 3D LIDAR scanning and thermographic surveys, flown by our team of CAA licensed UAV operators.</p>
  </div>
</div>

<div class="container p-5">
  <div class="row">
    <div class="col-md-6">
      <h1>What we will do:</h1>
      <p>Placeholder text;</p>
      <ul>
        <li>Placeholder text.</li>
        <li>Placeholder text.</li>
        <li>Placeholder text.</li>
        <li>Placeholder text.</li>
        <li>Placeholder text.</li>
        <li>Placeholder text.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h1 class="mb-3">Benefits</h1>
      <h2>Benefit 1</h2>
      <p>Placeholder text.</p>
      <h2>Benefit 2</h2>
      <p>Placeholder text.</p>
      <h2>Benefit 3</h2>
      <p>Placeholder text.</p>
      <h2>Benefit 4</h2>
      <p>Placeholder text.</p>
      <h2>Benefit 5</h2>
      <p>Placeholder text.</p>
    </div>
  </div>
</div>

<div class="mt-5 mb-3 bg-light">
  <div class="container p-5 text-center">
    <h1 class="display-7">Need an Aerial Survey?</h1>
    <a href="/book" target="_blank" rel="noopener noreferrer" class="btn btn-danger btn-lg mt-3">Book a Consultation</a>
  </div>
</div>
<br>

{% endblock %}