{% extends 'base.html' %}

{% block content %}


<div class="mb-3 bg-light">
  <div class="container p-5">
    <h1 class="display-7">What We Do</h1>
    <p class="fs-5">F.I.R.E. Consultancy is the trading name of Fire Investigation Risk Evaluation Consultancy Ltd. “Its all in the name” established 2015 to provide a specific, bespoke and high quality services providing Fire Investigation and Risk Evaluation worldwide by an independent team of highly qualified experts.</p>
  </div>
</div>

<div class="container p-5">

  <hr class="mb-5"/>

  <div class="row mb-5">
    <div class="col">
      <h1>Jason Hill - Director</h1>
      <p>Fire engineering consultancy and project management specialist with over 20 years experience from engineering to senior general management roles. Jason has a track record of excellence delivering process improvements and project installations across public and private sectors.</p>
      <a href="https://fireconsultancy-wordpress-assets.s3.eu-west-2.amazonaws.com/cv/cv-jason-2021.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-danger">Download Jason's CV</a>
    </div>
    <div class="col-sm-4 order-first order-sm-0">
      <img class="img-fluid" src="https://fireconsultancy-wordpress-assets.s3.eu-west-2.amazonaws.com/team/jason.webp">
    </div>
  </div>

  <hr class="mb-5"/>

  <div class="row mb-5">
    <div class="col-sm-4 order-first order-sm-0">
      <img class="w-100" src="https://fireconsultancy-wordpress-assets.s3.eu-west-2.amazonaws.com/team/peter.webp">
    </div>
    <div class="col">
      <h1>Peter Barnes - Engineer</h1>
      <p>placeholder description</p>
    </div>
  </div>

  <hr class="mb-5"/>

  <div class="row mb-5">
    <div class="col">
      <h1>Placeholder - Position</h1>
      <p>placeholder description</p>
    </div>
    <div class="col-sm-4 order-first order-sm-0">
      <img class="w-100" src="https://fireconsultancy-wordpress-assets.s3.eu-west-2.amazonaws.com/team/peter.webp">
    </div>
  </div>

  <hr class="mb-5"/>

  <div class="row mb-5">
    <div class="col-sm-4 order-first order-sm-0">
      <img class="w-100" src="https://fireconsultancy-wordpress-assets.s3.eu-west-2.amazonaws.com/team/peter.webp">
    </div>
    <div class="col">
      <h1>Placeholder - Position</h1>
      <p>placeholder description</p>
    </div>
  </div>

  <hr class="mb-5"/>

  <div class="row mb-5">
    <div class="col">
      <h1>Placeholder - Position</h1>
      <p>placeholder description</p>
    </div>
    <div class="col-sm-4 order-first order-sm-0">
      <img class="w-100" src="https://fireconsultancy-wordpress-assets.s3.eu-west-2.amazonaws.com/team/peter.webp">
    </div>
  </div>
  
</div>

<div class="mb-3 bg-danger">
  <div class="container p-5">
    <h1 class="display-7 text-white">Values</h1>
    <p class="fs-4 text-white">The business core values are to establish a foundation of best practices upon which, customer testimonials and recommendations promote organic growth</p>
  </div>
</div>


<div class="container p-5">
  <h1 class="display-7">We are proud to work with:</h1>
  <div class="container mt-3">
    <div class="row align-items-start">
      <div class="col">
        <img class="img-fluid" src="https://www.adaptivewfs.com/wp-content/uploads/2020/07/logo-placeholder-image.png">
      </div>
      <div class="col">
        <img class="img-fluid" src="https://www.adaptivewfs.com/wp-content/uploads/2020/07/logo-placeholder-image.png">
      </div>
      <div class="col">
        <img class="img-fluid" src="https://www.adaptivewfs.com/wp-content/uploads/2020/07/logo-placeholder-image.png">
      </div>
      <div class="col">
        <img class="img-fluid" src="https://www.adaptivewfs.com/wp-content/uploads/2020/07/logo-placeholder-image.png">
      </div>
      <div class="col">
        <img class="img-fluid" src="https://www.adaptivewfs.com/wp-content/uploads/2020/07/logo-placeholder-image.png">
      </div>
      <div class="col">
        <img class="img-fluid" src="https://www.adaptivewfs.com/wp-content/uploads/2020/07/logo-placeholder-image.png">
      </div>
    </div>
  </div>
</div>

{% endblock %}